body
   font-family: 'Muller', sans-serif
   background: #ffff
   font-weight: 400
   font-size: 15px
   line-height: 23px
   letter-spacing: -0.1px
   color: $blue
a
   text-decoration: none
   box-sizing: border-box
   transition: 0.5s !important
   &:hover 
      color: $pink
.pink 
   color: $pink
.container
   padding: 0 15px
   max-width: 1412px
   margin: 0 auto
   @media ( max-width: 1300px )
      max-width: 960px !important
   @media (max-width: 900px)
      max-width: 720px !important
   @media (max-width: 767px)
      max-width: 540px !important
.d-flex, .q
   display: flex
.body-wrap
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
footer
   margin-top: auto
h1
   font-size: 50px
   font-weight: 500
   color: $blue
   line-height: 55px
   letter-spacing: -0.5px
   margin: 0
h2 
   margin: 0
   font-size: 40px
   font-weight: 500
   color: $blue
   line-height: 44px
   letter-spacing: -0.4px
ul 
   margin: 0
   padding: 0
   list-style-type: none
p
   margin: 0
.svg, rect, line, circle
   transition: 0.5s ease
a
   transition: color 0.5s ease
   box-sizing: border-box
li
   a
      transition: color 0.5s ease
button
   cursor: pointer
   box-sizing: border-box
textarea
   transition: border 0.5s
   box-sizing: border-box
   &:focus
      transition: border 0.5s
      outline: none
      border: 1px solid $pink
input
   transition: 0.5s
   box-sizing: border-box
   border: 1px solid #fff
   &:disabled
      pointer-events: none
      opacity: 0.5
   &:focus 
      border: 1px solid $pink 
      transition: 0.5s
   &:focus-visible
      outline: initial
path
   transition: fill 0.5s, stroke 0.5s
div 
   box-sizing: border-box
.icon 
   transition: fill 0.5s, stroke 0.5s
html * 
   scrollbar-width: thin
   scrollbar-color: blue $pink
.side-menu__body
   scrollbar-width: thin
   scrollbar-color: transparent transparent
*::-webkit-scrollbar,
html *::-webkit-scrollbar 
   height: 7px
   width: 7px
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
   background-color: $blue
   border-radius: 6px
.btn 
   display: flex
   align-items: center
   justify-content: center
   transition: 0.5s
   width: 229px
   height: 58px
   background: $pink
   border-radius: 100px
   font-size: 15px
   font-weight: 500
   color: #ffffff
   line-height: 18px
   letter-spacing: -0.1px
   padding-top: 1px
   &:hover 
      color: #ffffff
      background: $light
   &_2 
      background: $blue
      &:hover 
         background: $light